<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Item</title>
</head>
<body>
    <h1>Editar Item</h1>
    <form action="/items/<%= item._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= item.name %>" required>
        <input type="text" name="description" value="<%= item.description %>" required>
        <button type="submit">Atualizar</button>
    </form>
    <a href="/">Voltar</a>
</body>
</html>